// Breakpoints
$breakpoint-medium: 48em;
$breakpoint-large: 64em;
$max-width: 75em;

// Colors
$color-primary: #333333;
$color-secondary: #333333;
$color-tertiary: #333333;

$color-black: #333333;
$color-white: #ffffff;

// Text family
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Text sizes
$text-xs: 0.563rem;
$text-sm: 0.75rem;
$text-md: 1rem;
$text-lg: 1.333rem;
$text-xl: 1.777rem;
$text-2xl: 2.369rem;
$text-3xl: 3.157rem;
$text-4xl: 4.209rem;

// Margins and paddings
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.5rem;
$size-6: 2rem;
$size-7: 3rem;
$size-8: 4rem;
$size-9: 6rem;

