@use "../abstracts/variables" as *;

.banner {
    overflow: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 60vh;

    .banner-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .banner-content {
        z-index: 10;
        color: $color-white;
        text-align: center;
    }
}
