@use "../abstracts/variables" as *;

.icons {
    width: 24px;
    fill: $color-primary;
}

.icon-facebook {
    &:hover {
        fill: #1877F2;
    }
}

.icon-instagram {
    &:hover {
        fill: #E4405F;
    }
}

.icon-youtube {
    &:hover {
        fill: #FF0000;
    }
}
